[Unit]
Description=Air Quality Monitor Station
After=network.target

[Service]
ExecStart=/home/pi/air_station/.venv/bin/python3 /home/pi/air_station/main.py
WorkingDirectory=/home/pi/air_station
StandardOutput=inherit
StandardError=inherit
RestartSec=10
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
