[Unit]
Description=Air Monitor Dashboard
After=network.target airmonitor.service

[Service]
ExecStart=/home/pi/air_station/.venv/bin/python3 -m dashboard.app
WorkingDirectory=/home/pi/air_station
StandardOutput=journal
StandardError=journal
RestartSec=10
Restart=always
User=pi
Environment=AIRMONITOR_WEB_HOST=0.0.0.0
Environment=AIRMONITOR_WEB_PORT=8080
Environment=AIRMONITOR_DATABASE_PATH=/home/pi/air_station/data/airmonitor.db

[Install]
WantedBy=multi-user.target
